<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.andrei1993ak.finances">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.github.andrei1993ak.finances.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_finances"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Light">
        <activity android:name="com.github.andrei1993ak.finances.app.ZeroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/finances"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".app.StartingActivity"/>
        <activity android:name=".app.activities.CurrencyActivity" />
        <activity android:name=".app.addEditActivities.CurrencyAddActivity" />
        <activity android:name=".app.addEditActivities.CurrencyEditActivity" />
        <activity android:name=".app.activities.WalletActivity" />
        <activity android:name=".app.addEditActivities.WalletAddActivity" />
        <activity android:name=".app.addEditActivities.WalletEditActivity" />
        <activity android:name=".app.activities.CategoryStartingActivity" />
        <activity android:name=".app.activities.CategoryIncomeActivity" />
        <activity android:name=".app.activities.CategoryCostActivity" />
        <activity android:name=".app.addEditActivities.IncomeCategoryAddActivity" />
        <activity android:name=".app.addEditActivities.CostCategoryAddActivity" />
        <activity android:name=".app.addEditActivities.IncomeCategoryEditActivity" />
        <activity android:name=".app.addEditActivities.CostCategoryEditActivity" />
        <activity android:name=".app.activities.IncomeActivity" />
        <activity android:name=".app.addEditActivities.IncomeAddActivity" />
        <activity android:name=".app.addEditActivities.IncomeEditActivity" />
        <activity android:name=".app.activities.CostActivity" />
        <activity android:name=".app.addEditActivities.CostAddActivity" />
        <activity android:name=".app.addEditActivities.CostEditActivity" />
        <activity android:name=".app.activities.TransferActivity" />
        <activity android:name=".app.addEditActivities.TransferAddActivity" />
        <activity android:name=".app.addEditActivities.TransferEditActivity" />
        <activity android:name=".app.activities.ReportsActivity" />
        <activity android:name=".app.reportsActivities.PieChartActivity" />
        <activity android:name=".app.reportsActivities.PieChartActivityNext" />
        <activity android:name=".app.reportsActivities.BalanceChartActivity" />
        <activity android:name=".app.activities.SettingsActivity" />
        <activity android:name=".model.newModel.TestActivity" />
        <activity android:name=".signinByAppEngine.SignInActivity" />
        <activity android:name=".signinByAppEngine.IdTokenActivity" />
        <activity android:name=".signinByAppEngine.ServerAuthCodeActivity" />
        <activity android:name=".app.PinEntryActivity"/>
        <activity android:name=".app.SetPinActivity"/>

        <!--TODO add service-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.github.andrei1993ak.finances.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <receiver android:process=":remote" android:enabled="true" android:exported="true" android:name=".notification.AlarmReceiver"/>
    </application>

</manifest>