<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.andrei1993ak.finances">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.github.andrei1993ak.finances.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_finances"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Light">
        <activity android:name="com.github.andrei1993ak.finances.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/finances"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name="com.github.andrei1993ak.finances.view.activities.CurrencyActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.CurrencyAddActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.CurrencyEditActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.PurseActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.PurseAddActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.PurseEditActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.CategoryStartingActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.CategoryIncomeActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.CategoryCostActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.IncomeCategoryAddActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.CostCategoryAddActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.IncomeCategoryEditActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.CostCategoryEditActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.ImagesActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.IncomeActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.IncomeAddActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.IncomeEditActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.CostActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.CostAddActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.CostEditActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.TransferActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.TransferAddActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.addEditActivities.TransferEditActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.ReportsActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.reports.PieChartActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.reports.PieChartActivityNext" />
        <activity android:name="com.github.andrei1993ak.finances.view.reports.BalanceChartActivity" />
        <activity android:name="com.github.andrei1993ak.finances.view.activities.SettingsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.github.andrei1993ak.finances.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>
    </application>

</manifest>